body {
  background-color: #fff;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
}

.head-logo {
  height: auto;
  width: 20%
}

.head-img {
  height: auto;
  width: 100%;
  position: relative;
  display: flex;
}

.proj-img, .proj-inc, .skill-img, .skill-inc, .author-head, .ceo-word, .client-session {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  width: 100px;
  text-align: center;
}

.proj-inc, .skill-inc, .client-session {
  width: 100%;
}

.ceo-word, .author-head{
  width: 70%;
}

.card {
  height: 40vh;
  width: 25%;
  border-radius: 10px;
  background-color: blueviolet;  
  margin-bottom: 55px;
  margin-left: 3%;
}

.author {
  color: red;
}

@media only screen and (max-width: 600px) {
  .head-logo {
    height: auto;
    width: 50%;
  }
  
  .card {
    height: 40vh;
    width: auto;
    border-radius: 10px;
    background-color: blueviolet;  
    margin: 10px;
    
  }
}